.birthday{
    
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-image: url(fire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wedding{
    
    
    background-image: url(fire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    

    
}
.otherevent{
    
    
    background-image: url(fire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
body{
    background-image: url(bg4.jpg);
    font-family:sans-serif;
}
.bdceleb{
    height: 200px;
    width: 200px;
}
.bookbd{
    background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.bookmg{
    background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;

}
.mrgceleb{
    height: 200px;
    width: 200px;
}
.otherceleb{
    height: 200px;
    width: 200px;
}
.bookoth{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;

}
h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
}
.head{
    font-size: 100px;
    text-decoration: underline;
}
.twit{
    height: 50px;
    width: 50px;
    
}
.insta{
    height: 50px;
    width: 50px;
    
}
.fb{
    height: 50px;
    width:50px;
}
.utube{
    height: 50px;
    width:50px;

}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.menu,
.submenu {
 margin: 0;
 padding: 0;
 list-style: none;
}

.menu {   
 margin: 50px auto;
 width: 800px;   
 width: -moz-fit-content;
 width: -webkit-fit-content;
 width: fit-content; 
}

.menu > li {
 background: #000;
 float: left;
 position: relative;
 transform: skewX(25deg);
}

.menu a {
 display: block;
 color: #fff;
 text-transform: uppercase;
 text-decoration: none;
 font-family: Arial, Helvetica;
 font-size: 14px;
}  

.menu li:hover {
 background: #e74c3c;
}  

.menu > li > a {
 transform: skewX(-25deg);
 padding: 1em 2em;
}

/* Dropdown */
.submenu {
 position: absolute;
 width: 200px;
 left: 50%; margin-left: -100px;
 transform: skewX(-25deg);
 transform-origin: left top;
}

.submenu li {
 background-color: #34495e;
 position: relative;
 overflow: hidden;  
}      

.submenu > li > a {
 padding: 1em 2em;   
}

.submenu > li::after {
 content: '';
 position: absolute;
 top: -125%;
 height: 100%;
 width: 100%;   
 box-shadow: 0 0 50px rgba(0, 0, 0, .9);   
}  

.submenu > li:nth-child(odd){
 transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
 transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
 right: -50%;
 transform: skewX(-25deg) rotate(3deg);
}    

.submenu > li:nth-child(even){
 transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
 transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
 left: -50%;
 transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
 opacity: 0;
 visibility: hidden;   
}

.submenu li {
 transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
 opacity: 1;
 visibility: visible;
}  

.menu > li:hover .submenu li:nth-child(even){
 transform: skewX(25deg) translateX(15px);   
}

.menu > li:hover .submenu li:nth-child(odd){
 transform: skewX(-25deg) translateX(-15px);   
}